%shadow-box{
    -webkit-box-shadow: 6px 3px 5px 0px map-get($colores, negro );
    -moz-box-shadow: 6px 3px 5px 0px map-get($colores, negro );
    box-shadow: 6px 3px 5px 0px map-get($colores, negro );
}

%shadow-text{
    text-shadow: 2px 2px 2px map-get($colores, negro );
}

%titulosDePaginas{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: nth($medidas-font, 7 );
}

%parrafosTitulos{
    font-family: 'Acme', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
