%shadow-box{
    -webkit-box-shadow: 6px 3px 5px 0px #333333;
    -moz-box-shadow: 6px 3px 5px 0px #333333;
    box-shadow: 6px 3px 5px 0px #333333;
}
%shadow-text{
    text-shadow: 2px 2px 2px #333333;
}
%imagenes-galeria{
    width: map-get($medidas-porcentaje, total );
    height: map-get($medidas-porcentaje, total );
    border-radius: 10px;
    @extend %shadow-box;
}

%titulosDePaginas{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: nth($medidas-font, 7 );
}

%parrafosTitulos{
    font-family: 'Acme', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
