.banner{
    height: 100vh;
    width: map-get($medidas-porcentaje , total);
    animation: banner 20s infinite linear alternate;
    background-size: map-get($medidas-porcentaje , total) map-get($medidas-porcentaje , total) ;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 0.5rem;
    &__row{
        height: map-get($medidas-porcentaje , total );
        background: rgba(0,0,0, 0.6);
        margin: 0;
        @include flexbox (row, space-evenly ,center);
        &__item{
            width: 30%;
            color: map-get($colores, blanco );
            & img{
                width: map-get($medidas-porcentaje , total );
            }
            & p{
                @extend %parrafosTitulos;
                font-size: nth($medidas-font, 6 );
                color: map-get (colores, blanco );
                @include media-size (1025px){
                    font-size: nth($medidas-font, 4 );
                }
                @include media-size (425px){
                    font-size: nth($medidas-font, 2 );
                }
            }
        }
    }
}

