.sectionContacto{
    width: map-get($medidas-porcentaje , mitad );
    color: map-get($colores, blanco );
    margin: 6rem auto;
    background-color: map-get($colores , marron );
    border-radius: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    line-height: 2rem;
    @extend %shadow-box;
    @include media-size (768px){
        width: map-get($medidas-porcentaje , tresCuartos );
    }
    &__titulo{
        margin-bottom: 0;
        @extend %shadow-text;
        @extend %titulosDePaginas;
        padding: 1rem;
        animation-duration: 4s;
        @include media-size (425px){
            font-size: nth($medidas-font, 5 ) ;
        }
    }
    &__formulario{
        @include flexbox (column, center, center);
    }
}