footer{
    background-color: map-get($colores, rosa-pastel );
    color: map-get($colores, blanco );
    div{
        h4{
            @extend %titulosDePaginas;
            font-size: nth($medidas-font, 5 );
        }
    }
}