form{
    width: map-get($medidas-porcentaje , total );
    padding: 25px;
    box-sizing: border-box;
    text-align: center; 
    input, textarea, select,label{
        width: map-get($medidas-porcentaje , tresCuartos );
        margin-bottom: 10px;
        padding: 5px;
        box-sizing: border-box;
        font-size: 17px;
        border-radius: 15px;
        @include media-size (425px){
            font-size: nth($medidas-font, 2 );
            width: map-get($medidas-porcentaje , total );
        }
    }
    .formBoton{
        @include flexbox (row,space-around,center);
        width: map-get($medidas-porcentaje , tresCuartos );
        margin: auto;
        @include media-size (768px){
            @include flexbox (column,space-around,center);   
        }
        &__item{
            margin: 0 1rem;
            @include media-size (768px){
                margin: 0.5rem 0 0 0;
            }
        }
    }
}