.galeria{
    background: map-get($colores, gris-claro );
    padding-top: 1rem;
    margin-bottom: 1rem;

    &__titulo{
        color: map-get($colores, blanco );
        text-align: center;
        font-family: $font-titulos;
        font-size: nth($medidas-font, 7 );
    }

    &__imagenes{
        width: 80%;
        list-style: none;
        padding: 20px;
        box-sizing: border-box;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        @include media-size (425px){
            width: map-get($medidas-porcentaje, total ); 
        }
        li{
            margin: 5px;
        }
        &__item{
            width: 150px;
            height: 100px;

        }
    }
}
