.galeria{
    background: map-get($colores, gris-claro );
    padding-top: 1rem;
    margin-bottom: 1rem;

    &__titulo{
        color: map-get($colores, blanco );
        text-align: center;
    }

    &__imagenes{
        width: 90%;
        list-style: none;
        padding: 20px;
        box-sizing: border-box;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        object-fit: contain;
        li{
            margin: 5px;
        }
        &__item{
            width: 150px;
            height: 100px;

        }
    }
}
