.sectionMain{
    @include flexbox (row, space-evenly,center);
    margin: 2rem auto;
    width: map-get($medidas-porcentaje, total );
    overflow: hidden;
    @include media-size (425px){
        flex-direction: column;
    }
}
.sobreNosotros__parrafo{
    @extend %parrafosTitulos;
    font-size: nth($medidas-font, 6 );
    color: map-get($colores, blanco );
    background-color: map-get($colores, marron );
    padding: 10px;
    box-sizing: border-box;
}
    