.banner{
    height: 100vh;
    width: 100%;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    @include media-size (425px){
        height: 350px;
    }
    &__row{
        height: 100%;
        background: rgba(0,0,0, 0.6);
        margin: 0;
        @include flexbox (row, center ,center);
        &__item{
            width: 40%;
            color: map-get($colores, blanco );
            & img{
                width: 80%;
            }
            & p{
                text-align: center;
                color: #fafafa;
                font-style: italic;
                font-family: 'Acme', sans-serif;
                font-weight: 600;
            }
        }
    }
}



.sectionMain{
    display: flex;
    margin: 2rem auto;
    width: map-get($medidas-porcentaje, tresCuartos );
    overflow: hidden;
    @include media-size (425px){
        flex-direction: column;
    }
    &__card{
        @include media-size (768px){
            height: 270px;
        }
        @include media-size (425px){
            @include flexbox (row, center,center);
            height: 140px;
        }

        
        &__imagen{
            border-radius: 1rem;
            @extend %shadow-box;
            @include media-size (768px){
                width: 200px;
                height: 150px;
            }
            @include media-size (425px){
                width: 150px;
                height: 100px;
            }
            }
        
        &__nombreTratamiento{
            color: map-get($colores , blanco );
            font-family: $font-titulos;
            letter-spacing: 0.1rem;
            @extend %shadow-text;
            @include media-size (425px){
                width: map-get($medidas-porcentaje , mitad );
                h5{
                    font-size: nth($medidas-font , 3 );
                    letter-spacing: 0;
                }
            }
            @include media-size (375px){
                width: 80%;
            }
            }

        }
    }

.sobreNosotros__parrafo{
    text-align: center;
    color: #fafafa;
    font-style: italic;
    font-family: 'Acme', sans-serif;
    font-weight: 600;
    background-color: map-get($colores, gris-claro );
    padding: 10px;
    box-sizing: border-box;

}
    