.reglas{
    line-height: 1.6rem;
    width: 70%;
    margin: 4rem auto 0 auto;
    @include flexbox (column, center, center);
    color: map-get($colores, gris );
    &__titulo{
        text-transform: uppercase;
    }
    @include media-size (768px){
        text-align: center;
    }
    @include media-size (425px){
        line-height: 1.2rem;
        width: 90%;
        margin: 2rem auto 0 auto;
    }
    &__lista{
        @include media-size (425px){
            width: 95%;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
