.masServicios{
    display: flex;
    width: map-get($medidas-porcentaje, total );
    justify-content: space-evenly;
    padding: 2rem;
    overflow: hidden;

    @include media-size (425px){
        flex-direction: column;
    }

    &__card{
        width: 20%;
        position: relative;
        @include media-size (768px){
            width: map-get($medidas-porcentaje, cuarto );;
            }
        @include media-size (425px){
            width: map-get($medidas-porcentaje, tresCuartos );
            margin: auto;  
        }

        &:hover .masServicios__card__nombre__item{
            margin-top: 50px;
            transition: all 1s;
            background-color: blanchedalmond;
            border-radius: 60%;
            @include media-size (1025px){
                margin-top: 30px;
            }
        }

        &__enlace{
            text-decoration: none;
            color: #333333;
            &:hover{
                color: map-get($colores, negro);
            }
        }
        &__imagen{
            width: map-get($medidas-porcentaje, total );
            height: map-get($medidas-porcentaje, total );
            border-radius: 20%;
            opacity: 0.6;
            @include media-size (426px){
                height: 150px;
                margin: 1.5rem auto;
            }

        }
        &__nombre{
            width: map-get($medidas-porcentaje, total );;
            position: absolute;
            text-align: center;
            top:50%;
            font-weight: 600;
            &__item{
                @include media-size (1025px){
                font-size: nth($medidas-font , 2 );
                }
            }
        }
    }
}