.masServicios{
    display: flex;
    width: map-get($medidas-porcentaje, total );
    justify-content: space-evenly;
    padding: 2rem;

    &__card{
        width: 20%;
        position: relative;
        &:hover .masServicios__card__nombre__item{
            margin-top: 130px;
            transition: all 1s;
            background-color: blanchedalmond;
        }

        &__enlace{
            text-decoration: none;
            color: #333333;
            &:hover{
                color: map-get($colores, negro);
            }
        }
        &__imagen{
            width: map-get($medidas-porcentaje, total );
            height: map-get($medidas-porcentaje, total );
            border-radius: 20%;
            opacity: 0.7;
        }
        &__nombre{
            width: map-get($medidas-porcentaje, total );;
            position: absolute;
            text-align: center;
            top:0;
            font-weight: 600;
            &__item{
                margin-top: 75px;
            }
        }




    }
}


