.tituloPaginas{
    font-family: $font-titulos;   
    text-align: center;
    font-weight: 600;
    margin: 2rem auto;
    text-transform: uppercase;
    color: map-get($colores, gris);
    font-size: nth($medidas-font, 7 );
    letter-spacing: 1.5rem;
    @include media-size (768px){
        font-size: nth($medidas-font, 6 );
    }
    @include media-size (425px){
        font-weight: 300;
        margin: 1rem auto;
        font-size: nth($medidas-font, 6 );
        letter-spacing: 0.3rem;
    }

    @include media-size (375px){
        font-size: nth($medidas-font, 5 );
        letter-spacing: 0.1rem;
    }

}
.tituloTratamientos{
    text-align: center;
    background-color: #8b6b61;
    padding: 1rem;
    color: #fafafa;
    font-style: italic;
    font-family: 'Acme', sans-serif;
    font-weight: 600;
}
