.tituloPaginas{
    @extend %titulosDePaginas;
    margin: 2rem auto;
    color: map-get($colores, gris);
    letter-spacing: 1.5rem;
    @include media-size (768px){
        font-size: nth($medidas-font, 6 );
    }
    @include media-size (425px){
        font-weight: 300;
        margin: 1rem auto;
        letter-spacing: 0.3rem;
    }
    @include media-size (375px){
        font-size: nth($medidas-font, 5 );
        letter-spacing: 0.1rem;
    }

}
