.tituloPaginas{
    font-family: $font-titulos;   
    text-align: center;
    font-weight: 600;
    margin: 2rem auto;
    text-transform: uppercase;
    width: map-get($medidas-porcentaje, mitad );
    color: map-get($colores, gris);
    font-size: nth($medidas-font, 7 );
    letter-spacing: 1.5rem;
    @include media-size (768px){
        font-size: nth($medidas-font, 6 );
        width: 70%;
    }
    @include media-size (425px){
        font-weight: 300;
        margin: 1rem auto;
        font-size: nth($medidas-font, 6 );
        letter-spacing: 0.3rem;
        width: 90%;
    }

    @include media-size (375px){
        font-size: nth($medidas-font, 5 );
        letter-spacing: 0.1rem;
        width: 80%;
    }

}
