.cardTratamientos{
    @include flexbox(row, space-around, center);
    width: map-get($medidas-porcentaje, total );
    padding: 1rem;
    background-color: map-get($colores, marron );
    color: map-get($colores, blanco );
    margin: 1rem 0;
    @include media-size (426px){
        flex-direction: column-reverse;
    }
    &__imagen{
        width: map-get($medidas-porcentaje, total );
        height: 300px;
    }
    &__informacion{
        width: 40%;
        @include media-size (426px){
            width: 90%;
            margin-top: 5px;
        }

        &__titulo{
            text-align: center;
            text-transform: uppercase;
        }
    }
}
