.cardTratamientos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: #8b6b61;
    color: #fafafa;
    margin: 1rem 0;
    @include media-size (426px){
        flex-direction: column-reverse;
    }
    &__imagen{
        width: 100%;
        height: 300px;
    }
    &__informacion{
        width: 40%;
        @include media-size (426px){
            width: 90%;
        }

        &__titulo{
            text-align: center;
            text-transform: uppercase;
        }
    }
}
